/* added selector to style element */
h2 {
  color: blue;
}

/* added red-text class  */
.red-text {
  color: red;
}

.injected-text {
  margin-bottom: -25px;
  text-align: center;
}

.box {
  border-style: solid;
  border-color: black;
  border-width: 5px;
  text-align: center;
}

.yellow-box {
  background-color: yellow;
  padding: 10px;
}

.red-box {
  background-color: crimson;
  color: #fff;
  padding: 20px;
}

.blue-box {
  background-color: blue;
  color: #fff;
  padding: 20px;
}

.red-text {
  color: red;
}

p {
  font-size: 16px;
  font-family: monospace;
}

p {
  font-size: 16px;
}

h2 {
  font-family: Lobster;
}

#orange-text {
  color: orange;
}

/* Added Border radius to image  */
.smaller-image {
  width: 100px;
  border-radius:50%;
}

/* Attach fall back value of background */
.penguin-top {
  top: 10%;
  left: 25%;  
  background: var(--pengiun-skin,black);
  width: 50%;
  height: 45%;
  border-radius: 70% 70% 60% 60%;
}

.penguin-bottom {
  top: 40%;
  left: 23.5%;

  /* Change code below this line */
  background: var(--pengiun-skin,black);
  /* Change code above this line */

  width: 53%;
  height: 45%;
  border-radius: 70% 70% 100% 100%;
}
